aseprite/
bluetuith/
pavucontrol.*
go/
fossil.*
flameshot/
dconf/
gtk-*/
gh/
procps/
pulse/
QtProject.*
systemd/
unity3d/
emacs/elpa/
emacs/eln-cache/
emacs/backups/
emacs/auto-save-list/
emacs/p*
emacs/tramp